#zym {
    width: 500px;
    height: 300px;
    background-color: red;
}

#xuan {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    height: 400px;
}

.xxx
{
    margin:50px;
}





