#zym
{
    width:500px;
    height:300px;
    background-color: lightblue；
    
}

#xuan
{
    display:flex;
    flex-direction:column;
    align-items:start;
    width:100px;
    height:400px;
}

